<table
  class="table  verticle-middle table-responsive-sm  "
>
  <thead>
    <tr>
      <th scope="col" class="bg-transparent text-white" style="width: 55%;">Kripto Para</th>
      <th scope="col" class="bg-transparent text-white text-center"style="width: 15%;">değişim</th>
      <th scope="col" class="bg-transparent text-white text-center"style="width: 15%;">Fiyat</th>
      <th scope="col" class="bg-transparent text-white text-center"style="width: 15%;">İşlem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="bg-transparent text-white ">ACoin</td>
      <td class="bg-transparent text-white text-center">
      değişim
      </td>
      <td class="bg-transparent text-white text-center">10.40 TL</td>
      <td class="bg-transparent text-white text-center">
        <button type="button" class="btn btn-success btn-sm me-1">Al</button>
        <button type="button" class="btn btn-danger btn-sm ms-1">Sat</button>
      </td>
    </tr>
  
  </tbody>
</table>
