<div style="border-top: 1px solid yellow;">
    <footer class=" text-center text-white">
        <div class="container  my-2 text-center">
            <section class="mb-4 text-center">
                <h1 class="pb-4">StockMarket</h1>
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                        <h4 class="footer-baslik">İLETİŞİM BİLGİLERİMİZ</h4>
                        <hr>
                        <ul class="list-unstyled mb-0">
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Çanakkale
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    +90 5385554433
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    coinexen@kripto.com
                                </a>
                            </li>
    
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                        <h4 class="footer-baslik">SPONSORLARIMIZ</h4>
                        <hr>
                        <ul class="list-unstyled mb-0">
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">Lorem, ipsum dolor.</a>
                            </li>
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">Lorem, ipsum dolor.</a>
                            </li>
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">Lorem, ipsum dolor.</a>
                            </li>
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">Lorem, ipsum dolor.</a>
                            </li>
                            <li class="my-2">
                                <a href="#!" class="footer-link yellow-hover">Lorem, ipsum dolor.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                        <h4 class="footer-baslik">SOSYAL MEDYA LİNKLERİMİZ</h4>
                        <hr>
                        <ul class="list-unstyled mb-0">
                            <li class="my-2">
                                <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                                    <i class="fa fa-facebook-f"></i> FACEBOOK
                                </a>
                            </li>
                            <li class="my-2">
                                <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                                    <i class="fa fa-twitter"></i> TWITTER
                                </a>
                            </li>
                            <li class="my-2">
                                <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                                    <i class="fa fa-instagram"></i> INSTAGRAM
                                </a>
                            </li>
                            <li class="my-2">
                                <a class="btn btn-outline-light btn-floating m-1 footer-link yellow-hover hoverSocial-link" href="#!" role="button">
                                    <i class="fa fa-youtube-play"></i> YOUTUBE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="container text-center p-4 footer-link2">
            <hr>
            © 2023 Tüm Hakları Saklıdır.
            <a class=" yellow-hover" href="https://mdbootstrap.com/">Hasan Avcı</a> Tarafından Dizayn Edildi.
        </div>
        <a href="#body" id="backtotop">
            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a>
    </footer>
    
</div>
