@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html{ overflow: auto;}
body {
    background-image: url(../src/assets/images/background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; 
    overflow: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }